.angriff, .annahme, .zuspiel, .block{
    display: grid;
    grid-template-columns: auto auto;
}

.technik-img{
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.angriff-video, .annahme-Beispiele, .zuspiel-Beispiele, .block-Beispiele{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    place-items: center;
}

.beschreinbung-angriff{
    text-align: center;
}

.video-technik, .beispiel-img{
    border-radius: 15px;
    margin:20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
